.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-up {
  display: flex;


  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.signup-box{
  width: 360px;
  height: 620px;
  flex-direction: column;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  }

  
h1{
  text-align: center;
  padding-top: 15px;
  }
  
 
  
  form{
  width: 300px;
  margin-left: 20px;
  }
  
  form input{
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
  }
  
  input[type='button']{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: greenyellow;
  color: white;
  font-size: 18px;
  }
  
  p{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  }
  
  .content{
  text-align: center;
  }
  .btn{
    color: white;
    background-color: orange;
  }

  .thanks{
    text-align: center;
    margin-top: 100px;

}

p{
  font-size: 50px;
}


 
